{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name 'e.g. Jhon Doe'" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[git]
    autoCommit = true
    autoPush = true
